<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Name</strong> {{ name }}</p>
<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Email</strong> {{ email }}</p>
<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Phone</strong> {{ phone }}</p>
<p><strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Location</strong> {{ address }}</p>
<p style="margin-bottom: 32px">
  <strong style="display: block; font-size: 10px; color: #777; text-transform: uppercase">Message</strong>
{{ message_text }}</p>