Service: {{ select_service }}
Name: {{ name }}
Email: {{ email }}
Phone: {{ phone }}
Location: {{ location }}
Date: {{ date }}

Message:
{{ message }}

---

<div style="padding: 40px; line-height: 1.5; font-family: sans-serif; background-color: #f4f4f4; color: #2c2c2c">

    <div style="margin-bottom: 40px">
        <h3 style="font-size: 20px">{{ name }},</h3>
        <p>Thank you for contacting <a style="color: #fff" href="{{ site_url }}">{{ site_name }}</a>. This email confirms your form submission, a member from our team will be in contact with you shortly.</p>
    </div>

    <div style="font-family: sans-serif; background-color: #fff; box-shadow: 10px 10px 30px rgba(20,20,10,.2)">
        <div style="padding: 12px 12px 12px 40px; background: #eeeeee; font-size: 12px; text-transform: uppercase; margin-bottom: 24px; letter-spacing: 1px;"><small>Submitted information</small></div>
        <div style="padding: 20px 40px 60px;">
            {{ partial:form_notification_fields }}
            <div style="padding: 20px 40px 60px;">
                <a href="{{ site_url }}">
                    <img src="{{ site_url }}site/themes/main/img/logo.svg" height="46" width="204"
                        alt="{{ site_name }}">
                </a>
            </div>
        </div>
    </div>

</div>